[Unit]
Description=Twingate Web Ui for Connector deployment and setup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=node apps.js
Restart=on-failure
WorkingDirectory=/home/twingate/twingate-raspberry-pi/frontend

[Install]
WantedBy=multi-user.target