[Unit]
Description=Twingate Web Ui for Connector deployment and setup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=flask --app server run -h 0.0.0.0 -p 80
Restart=on-failure
WorkingDirectory=/home/twingate/twingate-raspberry-pi/backend

[Install]
WantedBy=multi-user.target
